version: "3.9"

services:
  postgres:
    image: postgres:17
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: test
    ports:
      - "5433:5432"
    volumes:
      - ./data:/var/lib/postgresql/data

